openapi: "3.0.0"
info:
  version: 1.0.0
  title: Go Queueing System
  description: An API for Queueing System
  termsOfService: https://swagger.io/terms/
  contact:
    name: Swagger API Team
    email: apiteam@swagger.io
    url: https://swagger.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://go-smo.aaletov.ru/api
paths:
  /getWaveInfo:
    get:
      summary: Get all info for waveform
      operationId: getWaveNumber
      responses:
        '200':
          description: Return number of requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaveInfo'
  /getPivotInfo:
    get:
      summary: Get info for pivot table
      operationId: getPivotInfo
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PivotInfo'
components:
  schemas:
    ReqWT:
      type: object
      required:
        - request
        - time
      properties:
        request: 
          $ref: '#/components/schemas/Request'
        time:
          type: string
          format: date-time
    Request:
      type: object
      required:
        - sourceNumber
        - requestNumber
      properties:
        sourceNumber:
          type: integer
        requestNumber:
          type: integer
    ReqWSE:
      type: object
      required:
        - request
        - start
        - end
      properties:
        request: 
          $ref: '#/components/schemas/Request'
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
    APISource:
      type: object
      required:
        - sourceNum
        - generated
      properties:
        sourceNum:
          type: integer
        generated:
          type: array
          items:
            $ref: '#/components/schemas/ReqWT'
    APIBuffer:
      type: object
      required:
        - bufNum
        - processed
      properties:
        bufNum:
          type: integer
        processed:
          type: array
          items:
            $ref: '#/components/schemas/ReqWSE'
        current:
          $ref: '#/components/schemas/ReqWT'
    APIDevice:
      type: object
      required:
        - devNum
        - done
      properties:
        devNum:
          type: integer
        done:
          type: array
          items:
            $ref: '#/components/schemas/ReqWSE'
        current:
          $ref: '#/components/schemas/ReqWT'
    WaveInfo:
      type: object
      required:
        - startTime
        - endTime
        - sources
        - buffers
        - devices
        - rejected
        - done
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        sources:
          type: array
          items:
            $ref: '#/components/schemas/APISource'
        buffers:
          type: array
          items:
            $ref: '#/components/schemas/APIBuffer'
        devices:
          type: array
          items:
            $ref: '#/components/schemas/APIDevice'
        rejected:
          type: array
          items:
            $ref: '#/components/schemas/ReqWSE'
        done:
          type: array
          items:
            $ref: '#/components/schemas/ReqWSE'
    PivotInfo:
      type: object
      required:
        - sourcesPivotInfo
        - devicesPivotInfo
      properties:
        sourcesPivotInfo:
          type: array
          items:
            $ref: '#/components/schemas/SourcePivotInfo'
        devicesPivotInfo:
          type: array
          items:
            $ref: '#/components/schemas/DevicePivotInfo'
    SourcePivotInfo:
      type: object
      required:
        - name
        - reqCount
        - rejChance
        - sysTime
        - waitTime
        - procTime
        - waitTimeDispertion
        - procTimeDispertion
      properties:
        name:
          type: string
        reqCount:
          type: integer
        rejChance:
          type: number
          format: double
        sysTime:
          type: string
          format: duration
        waitTime:
          type: string
          format: duration
        procTime:
          type: string
          format: duration
        waitTimeDispertion:
          type: string
          format: duration
        procTimeDispertion:
          type: string
          format: duration
    DevicePivotInfo:
      type: object
      required:
        - name
        - usageCoef
      properties:
        name:
          type: string
        usageCoef:
          type: number
          format: double

          

        

        